
  .Sso{
    margin-left: 55px;
  }
  .Or{
    margin-bottom: 10px;
  }
  .Para p{
    margin-bottom: 5px;
  }
  .app-wrapper1 h1 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: end;
  }
  .app-wrapper1 {
    display: flex;
    width: 400px;
    height: 580px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
  .input-block1 {
    margin-bottom: 10px;
    margin-top: 60px;
  }
  .input-block-2 {
    margin-bottom: 40px;
  }
  .label {
    font-size: 18px;
    margin-bottom: 2px;
    display: block;
  }
  ::placeholder {
    color: grey;
    opacity: 0.3;
  }
  .txtForms {
    font-size:15px;
    width: 98%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #522F2F;
    transition: border-bottom-color 0.3s ease;
  }
  .txtForms:focus {
    outline: none;
    border-bottom-color: #0077FF;
  }
  .form-error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  .btn {
    margin-bottom:10px;
    background-color: #0077FF;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: auto;
    width: 50%;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .btn:hover {
    background-color: #0051A8;
    color:white;
  }
  p {
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
  }
  a {
    color: #0077FF;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }